/*** 共用 ***/

/* color */
body{
    background-color: #FFFF ;
    margin: 0;
}

/* 字體大小、置中 */
p{
    font-size: 1rem;
}
.pcenter{
    text-align: center;
}


/*** 桌電、筆電 ***/
/* 字體大小*/
.btn{
    background-color: #d9d7d0;
    border: none;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    margin-left: 10px;
}
.btn:hover {
    background-color: #a8a59a;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: white;
    cursor: pointer;
}
.title{
    font-size: 1.96rem;
}
.subtitle{
    font-size: 1.6rem;
}

/* 商品區塊 */
.flex-container-products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.flex-container-products > form {
    /*flex-basis: calc(25% - 20px);
    margin: 10px;*/
    width: 20%;

    /*width: 260px;*/
    margin: 30px;
    padding: 30px 0px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.flex-container-products > form > img {
    border-radius: 4px;
    width: 200px;
    height: 267px;
}
.pagediv{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.pagediv > button  {
    margin: 0px 15px;
}
.pagediv > span {
    margin: 0px 15px;
}

/*商品分類導覽*/
.flex-container-productslist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.flex-container-productslist > div > button {
    margin: 12px;
}

/*購物車*/
.orderbtndiv{
    text-align: center;
    margin-top: 30px;
    
}
.cartdiv{
    margin-bottom: 60px;
}
/*訂單資料*/
.orderform{
    display: flex;
    justify-content: center;
    
    
}
.orderform > form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin: 30px;
    padding: 30px 0px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.orderform > form > div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.orderform > form > div > div >label{
    width: 100px;
    text-align: right;
    margin-right: 10px;
}


/*header 導覽*/
.phonenavbar{
    display: none;
}
.menulab{
    display: none;
}
.menuin{
    display: none;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden; 
    align-self: center;
    flex-grow: 1;
    
}
.navbar > li {
    float: right;
}
.nav-link {
    display: block;
    padding: 30px 15px;
    text-decoration: none;
    color: #595552;
}
.header-nav{
    background-color: #D8CFC6;
    border: #D8CFC6;
    padding: 0px 150px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}
.dropdown-content{
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    background-color: #D8CFC6;
    cursor: pointer;
    color: #595552;
}
.drop-content:hover{
    color: white;
}
.dropbtn:hover{
    color: white;
}
.dropdown-div{
    display: none;
    position: absolute;
    background-color: #D8CFC6;
}
.dropdown:hover .dropdown-div {
    display: block;
}
.dropbtn{
    display: block;
    padding: 30px 15px;
    text-decoration: none;
    position: relative;
    color: #595552;
}
.logo{
    width: 200px;
    height: 52.8px; 
    margin: 0;
    padding: 30px 0px;
   
    
}

/*header淡出淡入圖片*/
.image-slider {
    width: 100%;
    height: 780px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    margin-top: 100px;
}
@keyframes slide {
    10% {
        opacity: 1;
    }
    33%{
        opacity: 1;
    }
    53% {
        opacity: 0;
    }
    66%{
        transform: scale(1.1);
    }
}
.image-slider img {
    width: 100%;
    height: 780px;
    position: absolute;
    animation: slide 15s linear infinite;
    object-fit: cover;
    opacity: 0;
    
    
}
.image-slider img:nth-child(1) {
    animation-delay: 5s
}

.image-slider img:nth-child(2) {
    animation-delay: 10s
}

.image-slider img:nth-child(3) {
    animation-delay: 15s
}

/*footer*/
.footer{
    background-color: #D8CFC6;
    border: #D8CFC6;
    padding: 15px 150px;
    
}
.icon{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    vertical-align:middle;
}
.footer > div > div > p {
    display: inline-block;
    height: 25px; 
}

/*註冊 登入*/
.userdiv{
    display: flex;
    justify-content: center;
}
.userdiv2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin: 30px;
    padding: 30px 0px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.userdiv3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
    
}
.userdiv2 > div > div >label{
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
.logregbtn{
    display: flex;
    flex-direction: row;

}
.logregbtn2{
    margin: 12px;
    text-align: center;
    flex: 1;
}
/*home page*/
.collection{
    width: 300px;
    height: 400px;
    margin: 0px 15px;
}
.collectiondiv{
    display: flex;
    justify-content: center;
    
}
.imginfo{
    width: 570px;
    height: 392px;
    margin: 0px 15px;
}
.infodiv{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    
}



/*** 平板 ***/
@media screen and (max-width: 1200px) and (min-width: 800px){
    /*header淡出淡入圖片*/
    .image-slider {
        width: 100%;
        height: 390px;
    }
    .image-slider img{
        width: 100%;
        height: 390px;
    }
    /*home page*/
    .collection{
        width: 225px;
        height: 300px;
        margin: 10px 10px;
    }
    .collectiondiv{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .imginfo{
        width: 328px;
        height: 225px;
        margin: 5px 5px;
    }
    .infodiv{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
    /*商品區塊*/
    .flex-container-products > form > img {
        border-radius: 4px;
        width: 80%;
        height: 60%;
    }
    /*購物車*/
    .flex-container-products .cartimg{
        border-radius: 4px;
        width: 80%;
        height: 55%;
    }
        
    
}
    
@media screen and (max-width: 980px )and (min-width: 600px){
    /*header淡出淡入圖片*/
    .image-slider {
        width: 100%;
        height: 390px;
    }
    .image-slider img{
        width: 100%;
        height: 390px;
    }
    /*home page*/
    .collection{
        width: 225px;
        height: 300px;
        margin: 10px 10px;
    }
    .collectiondiv{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 500px;
        margin: 0px auto;
    }
    .imginfo{
        width: 328px;
        height: 225px;
        margin: 5px 5px;
    }
    .infodiv{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
    /*header 導覽*/
    .header-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .navbar {
        display: none;
        flex-direction: column;
        background-color: #847E79;
        
        position: absolute;
        width: 100%;
        top: 100%;  /* 與標頭高度相同 */
        left: 0;
    }
    
    .navbar li {
        margin: 0;
        text-align: center;
        
    }
    .nav-link{
        color: black;
    }
    .nav-link:hover{
        background-color: #595552;
        color: #D8CFC6;
    }
    
    .phonenavbar {
        display: inline;
        cursor: pointer;
        height: 55px;
        width: 40px;
        
    }
    
    .menuin{
        display: none;
    }
    .menulab{
        display: inline-block;
        margin-left: -120px;
        margin-right: 50%;
    }
    
    #switch:checked ~ .navbar {
        display: flex;
        
    }

    .dropdown-content{
        display: block;
        text-decoration: none;
        background-color: #847E79;;
        cursor: pointer;
        color: black;
    }
    .dropdown-content:hover{
        background-color: #595552;
        color: #D8CFC6;
    }
    .dropdown-div{
        display: none;
        position: absolute;
        background-color: #D8CFC6;
        width: 100%;
    }
    .dropdown:hover .dropdown-div {
        display: block;
    }
    .dropbtn:hover{
        background-color: #595552;
        color: #D8CFC6;
    }
    .dropbtn{
        color: #000;
    }
    /*商品區塊*/
    .flex-container-products > form > img {
        border-radius: 4px;
        width: 80%;
        height: 55%;
    }
    /*購物車*/
    .flex-container-products .cartimg{
        border-radius: 4px;
        width: 80%;
        height: 50%;
    }
}



/*** 手機 ***/
@media screen and (max-width: 600px ){


/* 商品區塊 */
.flex-container-products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.flex-container-products > form {
    /*flex-basis: calc(25% - 20px);
    margin: 10px;*/
    width: 30%;

    /*width: 260px;*/
    margin: 15px 15px;
    padding: 15px 15px 30px 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.flex-container-products > form > img {
    border-radius: 4px;
    width: 100%;
    height: 55%;
}
/*購物車*/
.flex-container-products .cartimg{
    border-radius: 4px;
    width: 100%;
    height: 50%;
}
.btn{
    margin-left: 8px;
    
}
/*商品分類導覽*/
.flex-container-productslist{
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    text-align: center;
    
}

/*footer*/
.footer{
    background-color: #D8CFC6;
    border: #D8CFC6;
    padding: 15px ;
    
    
}
.icon{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    vertical-align:middle;
}
.footer > div > div > p {
    display: inline-block;
    height: 25px; 
}
/*淡出淡入圖片*/
.image-slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    margin-top: 100px;
}
.image-slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: slide 15s linear infinite;
    object-fit: cover;
    opacity: 0;
 
}
/*home page*/
.collection{
    width: 150px;
    height: 200px;
    margin: 5px 5px;
}
.collectiondiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.imginfo{
    width: 328px;
    height: 225px;
    margin: 5px 5px;
}
.infodiv{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}


/*header 導覽*/

.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    display: none;
    flex-direction: column;
    background-color: #847E79;
    
    position: absolute;
    width: 100%;
    top: 100%;  
    left: 0;
  }

.navbar li {
    margin: 0;
    text-align: center;
    
}
.nav-link{
    color: black;
  }
.nav-link:hover{
    background-color: #595552;
    color: #D8CFC6;
}

.menuin{
    display: none;
}

#switch:checked ~ .navbar {
    display: flex;

}

 
.menulab{
    display: inline-block;
    margin-left: -120px;
    margin-right: 50%;
}
.phonenavbar {
    display: inline;
    cursor: pointer;
    height: 45px;
    width: 30px;
    
}
.dropdown-content{
    display: block;
    text-decoration: none;
    background-color: #847E79;;
    cursor: pointer;
    color: black;
}
.dropdown-content:hover{
    background-color: #595552;
    color: #D8CFC6;
}
.dropdown-div{
    display: none;
    position: absolute;
    background-color: #D8CFC6;
    width: 100%;
}
.dropdown:hover .dropdown-div {
    display: block;
}
.dropbtn:hover{
    background-color: #595552;
    color: #D8CFC6;
}
.dropbtn{
    color: #000;
}




  


}

